body {
    font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    font-size: 16px;
    color: 555555;
}

a {
    color: #696969;
}

a:visited {
    color: #696969;
}

table,tr,th,td {
    border-collapse: collapse;
    border: solid 1px #dddddd;
    font-family: 'メイリオ';
    font-size: 13px;
}

th {
    background-color: #cccccc;
}

hr.style1 {
    border-top: 3px solid #cccccc;
}

th.style1 {
    width: 200px;
}

th.style2 {
    width: 300px;
}

th.style3 {
    width: 400px;
}

/*--------------------------------------------------
  タブ切り替え
--------------------------------------------------*/
input[type="radio"] {
    display: none;
}

.tab_area {
    margin: 0;
}

.tab_area label {
    width: 150px;
    margin: 0 10px 0 0;
    display: inline-block;
    padding: 8px 0;
    color: #999999;
    background :#dddddd;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.tab_area label:hover {
    opacity: 0.7;
}

.tab_panel {
    display: none;
}

#tab1:checked ~ .tab_area .tab1_label {
    background: #4bacc6;
    color: #ffffff;
}

#tab1:checked ~ .panel_area #panel1 {
    display: block;
}

#tab2:checked ~ .tab_area .tab2_label {
    background: #4bacc6;
    color: #ffffff;
}

#tab2:checked ~ .panel_area #panel2 {
    display: block;
}

#tab3:checked ~ .tab_area .tab3_label {
    background: #4bacc6;
    color: #ffffff;
}

#tab3:checked ~ .panel_area #panel3 {
    display: block;
}



